<app-page-template [titleHeader]="titleHeader">
  <section
    main
    class="inner-section"
  >
    <div class="left-side">
      <h2>
        <a
          class="btn btn-secondary-outlined btn-back"
          [routerLink]="['/home']"
        >Back</a>
        "app-localstorage.component"
      </h2>
      <p class="text-bold">To read:</p>
      <p>

        <a href="https://www.instanceofjava.com/2025/02/component-data-sharing-in-angular.html">
          Browser Storage for Persistent Data Sharing
        </a>
      </p>
    </div>
  </section>
</app-page-template>
