@charset "utf-8";

$font-url-light: "../fonts/Quicksand/Quicksand-Light.ttf";
$font-url-regular: "../fonts/Quicksand/Quicksand-Regular.ttf";
$font-url-medium: "../fonts/Quicksand/Quicksand-Medium.ttf";
$font-url-semibold: "../fonts/Quicksand/Quicksand-SemiBold.ttf";
$font-url-bold: "../fonts/Quicksand/Quicksand-Bold.ttf";

// Color-variables
$primary: #2e384d;
$text-primary: #212529;
$white: #fff;
$gray-cool-dark: #67717e;

/* ======= FONTS ====== */
@font-face {
  font-family: "Quicksand";
  src: url($font-url-light) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url($font-url-regular) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url($font-url-medium) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url($font-url-semibold) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url($font-url-bold) format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: sans-serif;
}

body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: $text-primary;
  font-weight: 500;
}

h1 {
  color: $primary;
}

h2,
h3,
h4,
h5,
h6 {
  color: $gray-cool-dark;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: 1.3;
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.75rem;
}

.text-italic {
  font-style: italic;
}
