<h3>Working with AsyncValidator in Angular</h3>
<p>
  References and useful links
</p>
<section>
  <!-- Reactive Forms | AbstractControl -->
  <ul>
    <p class="subtitle">Angular | Reactive Forms</p>
    <li>
      <a href="https://angular.io/guide/reactive-forms">
        Angular Docs | Reactive Forms
      </a>
    </li>
    <li>
      <a href="https://angular.dev/api/forms/AbstractControl">
        Angular Docs | AbstractControl
      </a>
    </li>
    <li>
      <a href="https://angular.dev/api/forms/AbstractControlOptions">
        Angular Docs | AbstractControlOptions
      </a>
    </li>
  </ul>
  <!-- FormGroup and FormBuilder-->
  <ul>
    <p class="subtitle">
      Angular | FormGroup and FormBuilder
    </p>
    <li>
      <p class="description">
        FormBuilder is a service to create instances of FormGroup and FormControl.
        It is a part of the Angular Forms module.
        This API is not typesafe.
        Use the <code>FormBuilder#group</code> overload with AbstractControlOptions instead.
      </p>
      <a href="https://angular.dev/api/forms/FormBuilder">
        Angular Docs | FormBuilder
      </a>
    </li>
    <li>
      <a href="https://angular.dev/guide/forms/reactive-forms#using-the-formbuilder-service-to-generate-controls">
        Angular Docs | Using the FormBuilder service to generate controls
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@edelcustodiofrias/exploring-the-differences-between-formgroup-and-formbuilder-in-angular-222bb192ece0">
        Differences Between FormGroup and FormBuilder in Angular
      </a>
    </li>
  </ul>
  <!-- Validators | Async Validators -->
  <ul>
    <p class="subtitle">Angular | Validators</p>
    <li>
      <a href="https://angular.io/guide/form-validation#async-validators">
        Angular Docs | Async Validators
      </a>
    </li>
    <li>
      <a href="https://kareldesmet.be/articles/async-validators-in-angular/">
        Working with async validators in Angular
      </a>
    </li>
    <li>
      <a href="https://javascript.plainenglish.io/angular-forms-validators-and-form-control-properties-8b0ff8d885f8">
        Angular forms, validators, and form control properties
      </a>
    </li>
    <li>
      <a
        href="https://javascript.plainenglish.io/essential-form-states-every-angular-developer-should-know-db9760092d51">
        Essential Form States Every Angular Developer Should Know
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@vamsikurimeti92/understanding-angular-forms-validators-dirty-touched-pristine-value-and-more-fa322d462451">
        Understanding Validators, Dirty, Touched, Pristine, Value and more…
      </a>
    </li>
  </ul>
</section>

<p class="subtitle">Custom validation using AsyncValidator with Observable</p>
<p>Adapted for Angular 19.2.10</p>
<a
  href="https://chumtoadafuq.github.io/angular/2017/08/06/Angular-custom-validation-using-AsyncValidator-with-Observable.html">
  Based on the chumtoadafuq blog (Angular v4.3)
</a><br>
<a href="https://github.com/chumtoadafuq/AsyncValidator/tree/master">chumtoadafuq
  AsyncValidator</a>

<section class="mt-1">
  <div>
    <p class="subtitle">List of Approved fruit</p>
    <ul>
      <li>apple</li>
      <li>orange</li>
      <li>banana</li>
      <li>pear</li>
      <li>melon</li>
    </ul>
  </div>
  <div>
    <p class="subtitle">Input an approved fruit</p>
    <form
      [formGroup]="fruitForm"
      novalidate
    >
      <input
        class="form-control mr-2"
        type="text"
        id="fruit"
        name="fruit"
        formControlName="fruit"
        required
      >
      @if((fruitForm.controls['fruit'].touched) || fruitForm.controls['fruit'].hasError('checkFruitIsApproved')) {
      <p class="form-control-feedback">
        {{fruitForm.controls['fruit'].errors?.['checkFruitIsApproved']}}
      </p>
      }
      @if(fruitForm.controls['fruit'].valid === true) {
      <p class="form-control-feedback-valid">
        {{fruitForm.controls['fruit'].value}} is an approved fruit!
      </p>
      }
    </form>
  </div>
  <div>
    <p class="subtitle">fruitForm info</p>
    <div>
      <ul>
        <li>fruitForm.value... {{fruitForm.value | json}}</li>
        <li>fruitForm.status... {{fruitForm.status}}</li>
        <li>fruitForm.errors... {{fruitForm.errors | json}}</li>
      </ul>
      <ul>
        <li>fruitForm.get('fruit').value... {{fruitForm.controls['fruit'].value | json}}</li>
        <li>fruitForm.get('fruit').status... {{fruitForm.controls['fruit'].status}}</li>
        <li>fruitForm.get('fruit').errors... {{fruitForm.controls['fruit'].errors | json}}</li>
      </ul>
    </div>
  </div>
</section>
