<h3>Working with async validators in Angular</h3>
<p>
  References and useful links
</p>
<section class="intro">
  <!-- Reactive Forms | AbstractControl -->
  <ul>
    <p class="subtitle">Angular | Reactive Forms</p>
    <li>
      <a href="https://angular.io/guide/reactive-forms">
        Angular Docs | Reactive Forms
      </a>
    </li>
    <li>
      <a href="https://angular.dev/api/forms/AbstractControl">
        Angular Docs | AbstractControl
      </a>
    </li>
    <li>
      <a href="https://angular.dev/api/forms/AbstractControlOptions">
        Angular Docs | AbstractControlOptions
      </a>
    </li>
  </ul>
  <!-- FormGroup and FormBuilder-->
  <ul>
    <p class="subtitle">
      Angular | FormGroup and FormBuilder
    </p>
    <li>
      <a href="https://angular.dev/api/forms/FormBuilder">
        Angular Docs | FormBuilder
      </a>
    </li>
    <li>
      <a href="https://angular.dev/guide/forms/reactive-forms#using-the-formbuilder-service-to-generate-controls">
        Angular Docs | Using the FormBuilder service to generate controls
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@edelcustodiofrias/exploring-the-differences-between-formgroup-and-formbuilder-in-angular-222bb192ece0">
        Differences Between FormGroup and FormBuilder in Angular
      </a>
    </li>
  </ul>
  <!-- Validators | Async Validators -->
  <ul>
    <p class="subtitle">Angular | Validators</p>
    <li>
      <a href="https://angular.io/guide/form-validation#async-validators">
        Angular Docs | Async Validators
      </a>
    </li>
    <li>
      <a href="https://kareldesmet.be/articles/async-validators-in-angular/">
        Working with async validators in Angular
      </a>
    </li>
    <li>
      <a href="https://javascript.plainenglish.io/angular-forms-validators-and-form-control-properties-8b0ff8d885f8">
        Angular forms, validators, and form control properties
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@vamsikurimeti92/understanding-angular-forms-validators-dirty-touched-pristine-value-and-more-fa322d462451">
        Understanding Validators, Dirty, Touched, Pristine, Value and more…
      </a>
    </li>
  </ul>
</section>
