<h2>Different ways to Share data between components in Angular</h2>
<p class="text-bold">To read:</p>
<ul class="pb-1">
  <li>
    <a href="https://www.instanceofjava.com/2025/02/component-data-sharing-in-angular.html">
      6 different ways to Share data between components in Angular
    </a>
  </li>
  <li>
    <a
      href="https://medium.com/@taira.seal/why-use-shared-services-over-input-output-in-angular-communication-fad2e9f4efcd">
      Why Use Shared Services Over Input/Output in Angular Communication
    </a>
  </li>
</ul>

<div class="menu">
  <div class="menu-item">
    <p>Parent to Child: Sharing Data with &#64;Input()</p>
    <p>Child to Parent: Using &#64;Output() to Emit Events</p>
    <a [routerLink]="['/sharedata/inputOutput']">&#64;Input() and &#64;Output()</a>
  </div>
  <div class="menu-item">
    <p>Sibling Communication Using a Shared Service with BehaviorSubject</p>
    <a [routerLink]="['/sharedata/behaviorSubject']">Shared Service with BehaviorSubject</a>
  </div>
  <div class="menu-item">
    <p>Nested child components and sibling components communication with Shared Service</p>
    <a [routerLink]="['/sharedata/behaviorSubject/carts']">Shared Service | Real-life example</a>
  </div>
  <div class="menu-item">
    <p>Direct Access Using &#64;ViewChild</p>
    <a [routerLink]="['/sharedata/viewChild']">Parent with &#64;ViewChild</a>
  </div>
  <div class="menu-item">
    <p>Browser Storage for Persistent Data Sharing</p>
    <a [routerLink]="['/sharedata/localStorage']">LocalStorage or sessionStorage</a>
  </div>
  <div class="menu-item">
    <p>Pass data between components using routes</p>
    <a [routerLink]="['/sharedata/routeParams']">Angular Route data sharing</a>
  </div>
</div>
