<app-page-template [titleHeader]="titleHeader">

  <section main>
    <div class="left-side">
      <ul>
        <li [ngClass]="{active: tab=='menu'}"
          (click)="tab='menu'">
          <div class="icon icon-arrow-right"></div>
          <span>Menu</span>
        </li>
        <li [ngClass]="{active: tab=='tdforms'}"
          (click)="tab='tdforms'">
          <div class="icon icon-arrow-right"></div>
          <span>Template-driven form</span>
        </li>
        <li [ngClass]="{active: tab=='tdformValidation'}"
          (click)="tab='tdformValidation'">
          <div class="icon icon-arrow-right"></div>
          <span>Template-driven form Validation</span>
        </li>
        <li [ngClass]="{active: tab=='reactiveforms'}"
          (click)="tab='reactiveforms'">
          <div class="icon icon-arrow-right"></div>
          <span>Reactive form</span>
        </li>
      </ul>

    </div>
    <div class="right-side">
      <div [ngSwitch]="tab">
        <div *ngSwitchCase="'menu'">Menu</div>
        <div *ngSwitchCase="'tdforms'"><app-template-driven-form /></div>
        <div *ngSwitchCase="'tdformValidation'">Template-driven form Validation</div>
        <div *ngSwitchCase="'reactiveforms'"><app-reactive-form /></div>
        <div *ngSwitchDefault>Select the tab to display its content</div>
      </div>
    </div>
  </section>
</app-page-template>