<app-page-template [titleHeader]="titleHeader">

  <section main>
    <div class="left-side">
      <ul>
        <li
          [ngClass]="{active: tab=='tdforms'}"
          (click)="tab='tdforms'"
        >
          <div class="icon icon-arrow-right"></div>
          <span>Template-driven form</span>
        </li>
        <li
          [ngClass]="{active: tab=='tdformValidation'}"
          (click)="tab='tdformValidation'"
        >
          <div class="icon icon-arrow-right"></div>
          <span>Template-driven form Validation</span>
        </li>
        <li
          [ngClass]="{active: tab=='reactiveforms'}"
          (click)="tab='reactiveforms'"
        >
          <div class="icon icon-arrow-right"></div>
          <span>Reactive form</span>
        </li>
        <li
          [ngClass]="{active: tab=='asyncValidators'}"
          (click)="tab='asyncValidators'"
        >
          <div class="icon icon-arrow-right"></div>
          <span>Async Validators</span>
        </li>
        <li
          [ngClass]="{active: tab=='asyncSyncValidators'}"
          (click)="tab='asyncSyncValidators'"
        >
          <div class="icon icon-arrow-right"></div>
          <span>AsyncValidator & SyncValidator</span>
        </li>
        <li
          [ngClass]="{active: tab=='customValidation'}"
          (click)="tab='customValidation'"
        >
          <div class="icon icon-arrow-right"></div>
          <span>Custom Validation</span>
        </li>
      </ul>

    </div>
    <!-- The right side with content -->
    <div class="right-side">
      <div [ngSwitch]="tab">
        <div *ngSwitchCase="'tdforms'"><app-template-driven-form /></div>
        <div *ngSwitchCase="'tdformValidation'"><app-tdform-validation /></div>
        <div *ngSwitchCase="'reactiveforms'"><app-reactive-form /></div>
        <div *ngSwitchCase="'asyncValidators'"><app-async-validators /></div>
        <div *ngSwitchCase="'asyncSyncValidators'"><app-async-validator-form /></div>
        <div *ngSwitchCase="'customValidation'"><app-custom-validation /></div>
        <div *ngSwitchDefault>Select the tab to display its content</div>
      </div>
    </div>
  </section>
</app-page-template>
