@charset "utf-8";
@use "../../../styles.scss";

:host {
  width: 100vw;
  height: 100vh;

  .intro {
    display: flex;
    flex-direction: column;
    height: 33vh;
    overflow: auto;
    margin-bottom: 1rem;

    p {
      font-size: 1.05rem;
      color: #888;
      margin-bottom: 0.5rem;
    }
  }

  fieldset {
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: 95px;
    column-gap: 1.5rem;
    padding: 1rem 1rem 0;

    div {
      height: 90px;

      p {
        display: inline-block;
      }
    }

    div,
    input,
    select {
      width: 100%;
      justify-self: stretch;
      align-self: start;
      background-color: white;
    }
  }
}
