<h3>Custom AsyncValidators in Angular</h3>
<p>To read:
  <a href="https://medium.com/@rinciarijoc/angular-custom-async-validators-13a648d688d8">
    Angular: Custom Async Validators <br>
    Jon Rinciari | May 12, 2019
  </a>
</p>
<div>
  <form
    class="form-group w-auto mt-1"
    id="address"
    [formGroup]="address"
    novalidate
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <label
      class="form-label"
      for="address"
    >Zipcode</label>
    <input
      class="form-control"
      type="text"
      id="zipcode"
      name="zipcode"
      formControlName="zipcode"
      placeholder="Zipcode, only numbers"
      pattern="^[0-9]*$"
      minlength="5"
      required
    />
    <ng-container *ngIf="address.get('zipcode') as zipcodeControl">
      <p
        class="form-control-feedback"
        *ngIf="(zipcodeControl.touched || submitted) && zipcodeControl.errors?.['required']"
      >
        Zipcode is <strong>required</strong>.
      </p>
      <p
        class="form-control-feedback"
        *ngIf="zipcodeControl.hasError('invalidAsync')"
      >
        Zipcode must be <strong>valid</strong>
      </p>
    </ng-container>
  </form>
</div>
<div class="action-buttons">
  <button
    class="btn btn-reset"
    type="reset"
    form="address"
  >Reset</button>
  <button
    class="btn btn-submit"
    type="submit"
    form="address"
    [disabled]="address.invalid || address.pending"
  >Submit</button>
</div>
