@charset "utf-8";
@use "../../../styles.scss";

:host {
  width: 100vw;
  height: 100vh;

  section {
    display: flex;
    width: 100%;
    min-height: 0;
    max-height: 100vh;

    ul {
      padding: 2rem 0 0;

      li {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        list-style-type: none;
        box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.7);
        .icon-arrow-right {
          background-color: var(--french-violet);
          margin-left: 2rem;
          margin-right: 1rem;
        }

        &:hover {
          background-color: rgba(163, 81, 245, 0.25);
        }
      }
    }

    .left-side {
      width: 15rem;
      height: inherit;
      border-right: 10px solid;
      border-right-width: 1px;
      border-image-slice: 1;
      border-image-source: var(--red-to-pink-to-purple-vertical-gradient);
    }

    .right-side {
      width: 100%;
      padding: 2rem;
      display: block;
    }

    .active {
      .icon-arrow-right {
        background-color: white !important;
      }
      color: white;
      font-weight: 600;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
    }
  }

  .pill-group .pill {
    height: 3rem;
    font-size: 1rem;
    padding: 0 1rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
