<app-page-template [titleHeader]="'Angular Forms'">
  <div header-content class="pill-group">
    <div class="pill">
      <a class="" [routerLink]="['/form/template-driven-form']" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">
        Template-driven Form
      </a>
    </div>
    <div class="pill">
      <a class="" [routerLink]="['/form/reactive-form']" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">
        Reactive Form
      </a>
    </div>
  </div>

  <section main>
    <div class="left-side">
      <ul>
        <li [ngClass]="{active: tab=='conclusions'}" (click)="tab='menu'">
          <div class="icon icon-arrow-right"></div>Menu
        </li>
        <li [ngClass]="{active: tab=='tdforms'}" (click)="tab='tdforms'">
          <div class="icon icon-arrow-right"></div>Template-driven form
        </li>
        <li [ngClass]="{active: tab=='reactiveforms'}" (click)="tab='reactiveforms'">
          <div class="icon icon-arrow-right"></div>Reactive form
        </li>
      </ul>

    </div>
    <div class="right-side">
      <div [ngSwitch]="tab">
        <div *ngSwitchCase="'tdforms'">Content TD forms</div>
        <div *ngSwitchCase="'reactiveforms'">Content Reactive forms</div>
        <div *ngSwitchCase="'menu'">Pages menu</div>
        <div *ngSwitchDefault>Select the tab to display its content</div>
      </div>
    </div>
  </section>
</app-page-template>