@charset "utf-8";

.btn-reset {
  color: var(--gray-700);
  background-color: white;
  border: 1px solid var(--gray-400);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--gray-400);
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}

.btn {
  width: 230px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-submit {
  color: white;
  font-weight: 600;
  background: var(--red-to-pink-to-purple-horizontal-gradient);

  &:disabled {
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    color: white;
    font-weight: 600;
    opacity: 0.4;
    transition: all 0.3s ease;
  }
}

.btn-group {
  display: inline-flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-close {
  width: 25px;
  height: 25px;
  border: 1px solid #d00;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  button {
    border: none;
    appearance: none;
    background-color: transparent;

    #cross {
      width: 20px;
      height: 20px;
      background: linear-gradient(
          to bottom,
          transparent 48%,
          #d00 48%,
          #d00 55%,
          transparent 55%
        ),
        linear-gradient(
          to right,
          transparent 48%,
          #d00 48%,
          #d00 55%,
          transparent 55%
        );
      transform: rotate(45deg);
    }
  }
}
