@charset "utf-8";

/** CONTAINERS
========================= */
.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-100pcent {
  width: 100%;
}
