@charset "utf-8";

// Gestion des bordures
.table {
  > thead > tr:first-child {
    border-top: none;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
  }

  td,
  th {
    border-color: #aaa;
  }

  tbody > tr {
    border-top: none;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
    > td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  thead > tr > th,
  tbody > tr > td {
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}

// Gestion des fonts et padding
.table {
  thead > tr {
    height: 45px;
  }

  tbody > tr {
    height: 30px;
  }

  tbody > tr > td {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
  }

  thead > tr > th {
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding-left: 15px;

    div.with-subtext {
      line-height: 14px;
      display: inline-block;
      :last-child {
        display: block;
        font-size: 9px;
      }
    }

    > .icon-asc-arrow,
    > .icon-desc-arrow {
      visibility: hidden;
      height: 10px;
      width: 8px;
      margin-left: 15px;
    }

    &.active {
      color: blue;
      > .icon-asc-arrow,
      > .icon-desc-arrow {
        visibility: visible;
        margin-bottom: 2px;
      }
    }
  }

  > tbody > tr > td,
  > thead > tr > th,
  > tbody > tr > td > *,
  > thead > tr > th > * {
    vertical-align: middle;
  }
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px 0 0;
}

// https://stackoverflow.com/a/47923622
table.table-fixed {
  overflow: auto;
  height: 30px;

  > thead th {
    top: 0;
    z-index: 1;
    position: sticky;
    background: white;

    box-shadow: 0 -2px 0px 0px gray inset;
  }
}

// Cells properties
table {
  border-collapse: separate;
  border-spacing: 0;
  border: 0 solid transparent;

  thead tr th {
    text-transform: uppercase;
  }
}

// Table-fixed-condenced with many data
table.table-fixed-condenced {
  overflow: auto;
  font-size: 12px !important;

  > :not(caption) > * > *,
  &:not(.cell-sm) > * > * {
    padding: 0 15px;
  }

  > thead th {
    top: 0;
    z-index: 1;
    position: sticky;
    background: white;

    box-shadow: 0 -2px 0px 0px gray inset;
  }
  tbody > tr {
    height: 24px !important;

    td {
      height: 24px !important;
      padding: 0 15px;
      line-height: 1.15 !important;
    }
  }
}

.cell-sm {
  width: 45px;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
}

.cell-md {
  width: 105px;
}

.cell-225 {
  width: 225px;
}

.cell-300-min {
  min-width: 300px;
}

.cell-300-max {
  max-width: 300px;
}

.cell-600-max {
  max-width: 600px;
}
