<h3>"app-child.component"</h3>
<p>To use &#64;Input() in the child's template:</p>
<pre>
  <code>childData1: {{ childData1 }} </code>
  <code>childData2: {{ childData2 }} </code>
</pre>
<p class="mb-1">To use &#64;Output() in the child's template:</p>

<form
  id="form"
  #form="ngForm"
>
  <label
    class="form-label"
    for="newItem"
  >Add an item:</label>
  <input
    class="form-control"
    type="text"
    id="newItem"
    name="newItem"
    [(ngModel)]="newItem"
    required
  >
</form>


<div class="btn-group">
  <button
    class="btn btn-submit"
    form="form"
    [disabled]="!form.form.valid"
    (click)="addNewItem(newItem)"
  >
    Add to parent's list
  </button>
  <button
    class="btn btn-reset"
    type="reset"
    form="form"
  >Reset</button>
</div>