@charset "utf-8";

/** INPUTS & FORMS
========================= */

.form-control {
  width: auto;
  min-height: 40px;
  padding: 0 15px;
  display: inline-block;
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: 500;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid gray;

  &.is-invalid[type="date"] {
    background-image: none;
  }

  &.is-invalid:not([type="date"]) {
    padding-right: 15px;
    background-image: none;
  }

  &::placeholder {
    color: gray;
  }

  &[type="number"] {
    text-align: right;
    -webkit-appearance: none;
    appearance: none;
  }
}

textarea.form-control {
  padding: 15px;
}

// Removed natif arrows
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -webkit-appearance: none;
  margin: 0;
}

// Removed natif box-shadow and outline
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focu,
textarea:focus,
textarea:active:focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea.active.focus {
  border-color: #ccc !important;
  outline: none !important;
  box-shadow: none !important;
}

label.form-label {
  color: #888;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
}

// Firefox
input[type="number"] {
  appearance: none !important;
  -moz-appearance: textfield;
}
