@charset "utf-8";

/** INPUTS & FORMS
========================= */
// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  height: calc(40px + 2.5rem);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.form-control {
  width: auto;
  min-height: 40px;
  padding: 0 15px;
  display: inline-block;
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: 500;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid gray;

  &.is-invalid[type="date"] {
    background-image: none;
  }

  &.is-invalid:not([type="date"]) {
    padding-right: 15px;
    background-image: none;
  }

  &::placeholder {
    color: gray;
  }

  &[type="number"] {
    text-align: right;
    -webkit-appearance: none;
    appearance: none;
  }
}

.form-control-feedback,
.form-control-feedback-valid {
  margin-top: 5px;
  font-size: 0.75rem;
}

.form-control-feedback {
  color: var(--orange-red);
}

.form-control-feedback-valid {
  color: var(--bright-blue);
}

textarea.form-control {
  padding: 15px;
}

// Removed natif arrows
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -webkit-appearance: none;
  margin: 0;
}

// Removed natif box-shadow and outline
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focu,
textarea:focus,
textarea:active:focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea.active.focus {
  border: 1px solid rgb(88, 14, 157);
  outline: none !important;
  box-shadow: 0 2px 0.5rem 0 rgba(204, 204, 204, 0.7);
}

label.form-label {
  display: block;
  color: var(--gray-700);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
}

// Firefox
input[type="number"] {
  appearance: none !important;
  -moz-appearance: textfield;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid var(--bright-blue);
}

input.ng-invalid,
select.ng-invalid {
  border-left: 5px solid var(--orange-red);
}

input,
select,
textarea {
  min-height: 40px;
  padding: 0 15px;
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid gray;
  appearance: none;

  &::placeholder {
    color: gray;
  }
}
